body {
	font-family: sans-serif;
	margin: 0px;
}

#navbar {
	height: 64px; 
	background-color: 0b0b0c;
	padding-top: 6px;
	padding-left: 6px;
	padding-right: 6px;
	margin-bottom: 8px;
}

#logo {
	width:280px; 
	float:left;
}

#navigation {
	display:inline;
}